@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
  font-size: 1.25rem;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@layer utilities {
  .link {
    @apply text-gray-600 text-base italic underline hover:text-yellow-700;
  }
}