@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #18181b;
  --secondary: #2563eb;
  --svg-fill: #2563eb;
  --svg-stroke: #39B54A;
}

:root.joker {
  --primary: #002411;
  --secondary: #9333ea;
  --svg-fill: #9333ea;
  --svg-stroke: #39B54A;
}

:root.grinch {
  --primary: #4c0519;
  --secondary: #65a30d;
  --svg-fill: #65a30d;
  --svg-stroke: #39B54A;
}

:root.doubtfire {
  --primary: #030712;
  --secondary: #fbbf24;
  --svg-fill: #fbbf24;
  --svg-stroke: #39B54A;
}

body {
  background-color: var(--primary);
  font-size: 1.25rem;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
}

.svg-container {
  width: 120px;
}

.svg-fill {
  fill: var(--svg-fill)
}

.svg-stroke {
  stroke: var(--svg-stroke);
}

@layer components {
  .search-input {
    @apply mb-4 block text-black;
  }

  .background-gradient {
    background: var(--primary);
  }

  .button {
    background: var(--secondary);
    @apply text-sm hover:bg-blue-700 text-white py-2 px-2 rounded
  }
}

@layer utilities {
  .link {
    color: var(--secondary);
    @apply text-base italic underline hover:text-blue-400;
  }
}
